body{
    font-family: 'Trispace', sans-serif;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.137);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
.my{
    color: orange;
}
.taifa-tow{
    display: flex;
    margin-bottom: 200px;
}

 
.taifa{
    width: 50%;
    margin-left: 5%;
}
.taifa img{
    width: 80%;
}
.btn{
    background-color: rgb(252, 135, 81);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 40px;
    margin-left: 50px;
    border-radius: 9px;
    font-weight: 700;
}
.backgrund{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}
.my-bg{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 2%;
}
.Developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 2%;
    border-radius: 16px;
    border-left: 7px solid blue;
    
}
.Developer:hover{
    opacity: 0.5;
    box-shadow: 10px 10px 40px rgb(204, 92, 92);
    transition: 0.5s;
}
#Web-Developer{
    border-left: 7px solid rgba(0, 0, 255, 0.473);
}
#Baby-Web{
    border-left: 7px solid red;
}
.Experiences{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
footer{
    text-align: center;
    opacity: .5;
}
 